<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asignación de tareas{% endblock %}</title>
        {% block stylesheets %}
{#            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('public/css/style.css') }}"/>#}
            
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('public/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{ asset('public/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('public/dist/css/sb-admin-2.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('public/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            
            <!-- Librerias adicionales de la plantilla que inicialmente se implementó-->
            <link href="{{ asset('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') }}" rel="stylesheet">            

            <!-- Custom Prsentation -->
            <link href="{{ asset('public/css/content/presentation.css') }}" rel="stylesheet" type="text/css">
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}
{#            <script src="{{ asset('public/js/jquery-3.2.0.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>#}

            <!-- jQuery -->
            <script src="{{ asset('public/vendor/jquery/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('public/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{ asset('public/vendor/metisMenu/metisMenu.min.js') }}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('public/dist/js/sb-admin-2.js') }}"></script>

            <!-- Librerías adicionales de la plantilla que incialmente se implementó -->
            <script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js') }}"></script>            
            
        {% endblock %}
        {% block body %}
{#            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('menu.html.twig') }}
            {% endif %}#}
        {% endblock %}
    </body>
</html>