<div
    style="z-index: 2;
    position: absolute;
{#    background-color: #1ab7ea;#}
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;">
    
    {{ include('@Home/home/sub/iconExplanation/search.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/configuration.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/video.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/media.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/artist.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/profile.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/list.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/datamining.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/create.html.twig') }}    
</div>
    
<div id="configurationAreaBgColor" 
     style='
     z-index: 1;
     width: 420px;
     top: 0px;
     bottom: 0px;
     right: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>