{#icons' images' IMAGES OR VISIBLE CONTENT#}
{#{{ include('@Home/home/sub/iconImage/search.html.twig') }}#}
{{ include('@Home/home/sub/iconImage/configuration.html.twig') }}
{{ include('@Home/home/sub/iconImage/video.html.twig') }}
{{ include('@Home/home/sub/iconImage/media.html.twig') }}
{{ include('@Home/home/sub/iconImage/artist.html.twig') }}
{{ include('@Home/home/sub/iconImage/profile.html.twig') }}
{{ include('@Home/home/sub/iconImage/list.html.twig') }}
{{ include('@Home/home/sub/iconImage/datamining.html.twig') }}
{{ include('@Home/home/sub/iconImage/create.html.twig') }}

{#icons' explanation's JAVASCRIPT CODE#}
{#{{ include('@Home/home/sub/iconExplanationMethod/search.html.twig') }}#}
{{ include('@Home/home/sub/iconExplanationMethod/configuration.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/video.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/media.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/artist.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/profile.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/list.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/datamining.html.twig') }}
{{ include('@Home/home/sub/iconExplanationMethod/create.html.twig') }}

<div id='listBarBgColor'
     style='
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>