{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
    </style>

    <body style="overflow: hidden;
          background-color: white;">

        {{ form_start(get_stored_field_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-stored-field-ajax'|default('form')} }) }}
        {{ form_end(get_stored_field_form_ajax) }}

        {{ form_start(get_stored_layout_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-stored-layout-ajax'|default('form')} }) }}
        {{ form_end(get_stored_layout_form_ajax) }}

        {{ form_start(set_this_field_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-this-field-ajax'|default('form')} }) }}
        {{ form_end(set_this_field_form_ajax) }}

        {{ form_start(set_this_layout_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-this-layout-ajax'|default('form')} }) }}
        {{ form_end(set_this_layout_form_ajax) }}

        {{ form_start(delete_stored_field_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'delete-stored-field-ajax'|default('form')} }) }}
        {{ form_end(delete_stored_field_form_ajax) }}

        {{ form_start(delete_stored_layout_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'delete-stored-layout-ajax'|default('form')} }) }}
        {{ form_end(delete_stored_layout_form_ajax) }}

        {{ form_start(update_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'update-ajax'|default('form')} }) }}
        {{ form_end(update_form_ajax) }}

        {{ form_start(set_usualMode_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-usualMode-ajax'|default('form')} }) }}
        {{ form_end(set_usualMode_form_ajax) }}

        {{ form_start(set_currentMode_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-currentMode-ajax'|default('form')} }) }}
        {{ form_end(set_currentMode_form_ajax) }}

        <div id='emergentWindow'
             style="width: 100%;
                    height: 100%;
                    opacity: 0.7;
{#                    background-color: black;#}
                    z-index: 1;
                    position: absolute;
                    transition: 0.6s;">
        </div>
        
        <div id="displaceIcon-wrapper">
        </div>

        <div id="displaceIcon">
            <img src="files/images/icons/displace.png" alt="Mountain View" style="width:30px; height:30px; opacity: 0.9;">
        </div>

        <div id="rowLeftIcon">
            <img src="files/images/icons/leftArrow.png" alt="Mountain View" style="width:30px; height:30px;">
        </div>

        <div id="rowRightIcon">
            <img src="files/images/icons/rightArrow.png" alt="Mountain View" style="width:30px; height:30px;">
        </div>

        <div id="presentationArea">
            {{ include('@Home/home/sub/presentationArea.html.twig') }}
        </div>

        <div id="listBar">
            {{ include('@Home/home/sub/listBar.html.twig') }}
        </div>

        <div id="searchBar">
            {{ include('@Home/home/sub/searchBar.html.twig') }}
        </div>

        <div id="configurationArea">
            {{ include('@Home/home/sub/configurationArea.html.twig') }}
        </div>
        <div id="configurationBar">
            {{ include('@Home/home/sub/configurationBar.html.twig') }}
        </div>
        <div id="manage">
            {{ include('@Home/home/sub/manage.html.twig') }}
        </div>

        <div id="invisibleLayer">
            {{ include('@Home/home/sub/invisibleLayer.html.twig') }}
        </div>

        <div id="playBanner">
            {{ include('@Home/home/sub/playBanner.html.twig') }}
        </div>

        <div id="sessionArea">
            {{ include('@Home/home/sub/sessionArea.html.twig') }}
        </div>

        <div id="closedCaptionArea">
            -
        </div>

        <div id='playBannerBgColor'
             style='
             {#     top: 0px;#}
             z-index: 4;
             bottom: 0px;
             left: 0px;
             right: 0px;
             height: 45px;
             background-color: gray;
             opacity: 0.2;
             position: absolute;
             '>
        </div>

    </body>

    <script>
{#        $('#closedCaptionArea').draggable({containment: "#volumeBar", scroll: true});#}
        $('#closedCaptionArea').draggable();
    </script>
    
    <script>
        var icon = document.getElementById("displaceIcon");
        var displaceIconWrapper = document.getElementById("displaceIcon-wrapper");

        var size = "complete";
        var mode = "visible";
        var bgMode = "withBg";
        var statusSpecificVideo = "par";
        var repetitions = 0;
        var modeContent = "dynamic";
        
        var modeOptions_VideoBundle = "visible";

        document.addEventListener("mousemove", transitionDisplace, false);
        document.addEventListener("mousemove", delizeElements, false);
        displaceIconWrapper.addEventListener("mousedown", activateElement, false);
        displaceIconWrapper.addEventListener("mouseup", desactivateElement, false);
        displaceIconWrapper.addEventListener("mouseover", desactivateElement, false);
        icon.addEventListener("mouseover", desactivateElement, false);

        var buttonActivate = "0";

        function activateElement()
        {
            buttonActivate = "1";

            document.getElementById("presentationArea").style.transitionDuration = "0s";
            document.getElementById("playBanner").style.transitionDuration = "0s";
            document.getElementById("listBar").style.transitionDuration = "0s";

            document.getElementById("configurationBar").style.transitionDuration = "0s";
            document.getElementById("manage").style.transitionDuration = "0s";
            document.getElementById('configurationArea').style.transitionDuration = "0s";
            document.getElementById('configurationAreaBgColor').style.transitionDuration = "0s";

            document.getElementById('searchBar').style.transitionDuration = "0s";

            document.getElementById("rowRightIcon").style.opacity = 0.4;
            document.getElementById('rowLeftIcon').style.opacity = 0.4;
            
            document.getElementById("rowRightIcon").style.zIndex = 7;
            document.getElementById('rowLeftIcon').style.zIndex = 7;
        }

        function desactivateElement(e)
        {
            buttonActivate = "0";

            var referenceLocation = document.getElementById("displaceIcon").style.right;

            displaceIconWrapper.style.top = "90px";
            displaceIconWrapper.style.bottom = ($(window).height() - 120) + "px";

            displaceIconWrapper.style.left = $(window).width() - (parseInt(referenceLocation) + 30) + "px";
            displaceIconWrapper.style.right = parseInt(referenceLocation) + "px";

            document.getElementById("rowRightIcon").style.opacity = 0;
            document.getElementById('rowLeftIcon').style.opacity = 0;
            
            document.getElementById("rowRightIcon").style.zIndex = 1;
            document.getElementById('rowLeftIcon').style.zIndex = 1;
        }

        function transitionDisplace(e)
        {
            if (buttonActivate === "1")
            {
                document.getElementById("displaceIcon").style.right = $(window).width() - (e.pageX + 30) + "px";

                displaceIconWrapper.style.left = "0px";
                displaceIconWrapper.style.right = "0px";
                displaceIconWrapper.style.top = "0px";
                displaceIconWrapper.style.bottom = "0px";
            }
        }

        function delizeElements(e)
        {
            if (buttonActivate === "0")
            {
                //console.log("deslize desactivate");
            } else if (buttonActivate === "1")
            {
                console.log("deslize activate");
                var rightPart = $(window).width() - 160;

                if (e.pageX <= 300)
                {
                    document.getElementById("presentationArea").style.right = ($(window).width() - 300) + "px";
                    document.getElementById("playBanner").style.right = ($(window).width() - 300) + "px";

                    document.getElementById("configurationAreaBgColor").style.width = $(window).width() - (330) + "px";
                    document.getElementById("configurationArea").style.width = $(window).width() - (330) + "px";

                    document.getElementById("searchBar").style.width = $(window).width() - (330) + "px";

                    document.getElementById("displaceIcon").style.right = ($(window).width() - 330) + "px";
                    document.getElementById("rowLeftIcon").style.right = ($(window).width() - 300) + "px";
                    document.getElementById("rowRightIcon").style.right = ($(window).width() - 360) + "px";
                } else if (e.pageX >= rightPart - 30)
                {
                    document.getElementById("presentationArea").style.width = (rightPart - 30) + "px";
                    document.getElementById("playBanner").style.width = (rightPart - 30) + "px";

                    document.getElementById("configurationAreaBgColor").style.width = $(window).width() - (rightPart - 30) + "px";
                    document.getElementById("configurationArea").style.width = $(window).width() - (rightPart - 30) + "px";

                    document.getElementById("searchBar").style.width = $(window).width() - (rightPart - 30) + "px";

                    document.getElementById("displaceIcon").style.right = 160 + "px";
                    document.getElementById("rowLeftIcon").style.right = 160 + "px";
                    document.getElementById("rowRightIcon").style.right = 160 + "px";
                } else
                {
                    if (size === "complete")
                    {
                        document.getElementById("configurationAreaBgColor").style.width = $(window).width() - (e.pageX + 60) + "px";
                        document.getElementById("configurationArea").style.width = $(window).width() - (e.pageX + 60) + "px";

                        document.getElementById("configurationBar").style.right = $(window).width() - (e.pageX + 30) + "px";
                        document.getElementById("manage").style.right = $(window).width() - (e.pageX + 30) + "px";

                        document.getElementById("searchBar").style.width = $(window).width() - (e.pageX + 30) + "px";

                        document.getElementById("rowLeftIcon").style.left = e.pageX - 30 + "px";
                        document.getElementById("rowRightIcon").style.left = e.pageX + 30 + "px";
                    } else if (size === "incomplete") {
                        document.getElementById("presentationArea").style.width = e.pageX + 30 + "px";
                        document.getElementById("playBanner").style.width = e.pageX + 30 + "px";

                        document.getElementById("configurationAreaBgColor").style.width = $(window).width() - (e.pageX + 60) + "px";
                        document.getElementById("configurationArea").style.width = $(window).width() - (e.pageX + 60) + "px";

                        document.getElementById("configurationBar").style.right = $(window).width() - (e.pageX + 30) + "px";
                        document.getElementById("manage").style.right = $(window).width() - (e.pageX + 30) + "px";

                        document.getElementById("searchBar").style.width = $(window).width() - (e.pageX + 30) + "px";

                        document.getElementById("rowLeftIcon").style.left = e.pageX - 30 + "px";
                        document.getElementById("rowRightIcon").style.left = e.pageX + 30 + "px";
                    }

                }
            }
        }
    </script>

    <script>
        var btnLogIn = document.getElementById("btnLogIn");
        btnLogIn.addEventListener("click", logInUser, false);

        var btnLogOut = document.getElementById("btnLogOut");
        btnLogOut.addEventListener("click", logOutUser, false);

        window.onload = checkSession();

        function checkSession()
        {
            var form = $('#check-session-ajax');
            var url = form.attr('action');

            $.post(url, function (data)
            {
                var sessionStatus = data[0].sessionStatus;

                if (sessionStatus === "0")
                {
                    showCloseSession(sessionStatus);
                    return sessionStatus;
                } else
                {
                    
                    var sessionStatus = data[0].sessionStatus;
                    var sessionId = data[0].sessionId;
                    var userName = data[0].userName;
                    var userFirstgivenname = data[0].userFirstgivenname;
                    var userSecondgivenname = data[0].userSecondgivenname;
                    var userFirstfamilyname = data[0].userFirstfamilyname;
                    var userSecondfamilyname = data[0].userSecondfamilyname;
                    var userEmail = data[0].userEmail;
                    var userPassword = data[0].userPassword;
                    var userBiography = data[0].userBiography;
                    
                    showOpenSession(
                        sessionStatus, 
                        sessionId, 
                        userName, 
                        userFirstgivenname, 
                        userSecondgivenname, 
                        userFirstfamilyname, 
                        userSecondfamilyname, 
                        userEmail, 
                        userPassword, 
                        userBiography 
                    );
                    return sessionStatus;
                }
            }).fail(function () {
                alert('ERROR');
            });
        }

        function showCloseSession(sessionStatus)
        {
            document.getElementById("btnLogOut").style.opacity = 0;

            document.getElementById("logIn").style.opacity = 1;
            document.getElementById("user_name").style.opacity = 1;
            document.getElementById("user_password").style.opacity = 1;
            document.getElementById("btnLogIn").style.opacity = 1;

        {#            alert("close");#}
{# here we need to refresh website #}

                return sessionStatus;
            }

            function showOpenSession(
                sessionStatus, 
                sessionId, 
                userName, 
                userFirstgivenname, 
                userSecondgivenname, 
                userFirstfamilyname, 
                userSecondfamilyname, 
                userEmail, 
                userPassword, 
                userBiography )
            {
                document.getElementById("logIn").style.opacity = 0;
                document.getElementById("user_name").style.opacity = 0;
                document.getElementById("user_password").style.opacity = 0;
                document.getElementById("btnLogIn").style.opacity = 0;

                document.getElementById("btnLogOut").style.opacity = 1;

                var infoAboutUser_session = document.getElementById("infoAboutUser-session");
                infoAboutUser_session.innerHTML = "@" + userName + "<br>" + 
                userFirstgivenname+" "+userSecondgivenname+" "+userFirstfamilyname+" "+userSecondfamilyname+"<br>"+
                userEmail;

                return sessionStatus;
            }

            function logInUser()
            {
                var form = $('#log-in-user-ajax');
                var url = form.attr('action');

                var user_name = document.getElementById('user_name').value;
                var user_password = document.getElementById('user_password').value;


                if (!user_name || !user_password) {
                    alert("You need to introduce all information");
                } else
                {
                    $.post(url, {user_name: user_name, user_password: user_password}, function (data)
                    {
                        
{#            var id = data[0].id;
            var userName = data[0].userName;
            
            alert("ID ..... "+id);
            alert("USER NAME .... "+userName);#}
                        
                        
                        checkSession();
                    }).fail(function () {
                        alert('ERROR');
                    });
                }
            }

            function logOutUser()
            {
                var form = $('#log-out-user-ajax');
                var url = form.attr('action');

                $.post(url, function (data)
                {
                    checkSession();
                }).fail(function () {
                    alert('ERROR');
                });
            }
    </script>
    

{% endblock %}