{{ form_start(set_dataminingList_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-dataminingList-ajax'|default('form')} }) }}
{{ form_end(set_dataminingList_form_ajax) }}

{{ form_start(get_dataminingList_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-dataminingList-ajax'|default('form')} }) }}
{{ form_end(get_dataminingList_form_ajax) }}

{{ form_start(set_dataminingListVideo_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'set-dataminingListVideo-ajax'|default('form')} }) }}
{{ form_end(set_dataminingListVideo_form_ajax) }}

{{ form_start(get_dataminingListVideo_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-dataminingListVideo-ajax'|default('form')} }) }}
{{ form_end(get_dataminingListVideo_form_ajax) }}

<div id="dataminingBundle">
    status Session
</div>

<div style="position: absolute;
     top: 0px;
     left: 0px;">
    <p>DATAMINING</p>
</div>
<div id="dataminingContent-listBundle"
     style="overflow-y: scroll;
     position: absolute;
     top: 20px;
     bottom: 0px;
     left: 0px;
     right: 0px;">
</div>

<script>
    
    var dataminingIconButton = document.getElementById('datamining_2IconButton');
        
    window.onload = set_dataminingList(); // by default
    my_video.onload = set_dataminingListVideo(); // by default
    dataminingIconButton.addEventListener("click", get_dataminingList, false);


        // load website (or first login, or when user has been registred) : event
        function set_dataminingList()
        {
            var form = $('#set-dataminingList-ajax');
            var url = form.attr('action');

            $.post(url, function (data)
            {

            }).fail(function () {
                alert('ERROR');
            });
        }
        // load new video : event
        function set_dataminingListVideo()
        {
            var form = $('#set-dataminingListVideo-ajax');
            var url = form.attr('action');

            $.post(url, function (data)
            {

            }).fail(function () {
                alert('ERROR ooooooooo');
            });
        }
        // load new video : event
        function get_dataminingList()
        {
    {#        var form = $('#get-dataminingList-ajax');
            var url = form.attr('action');

            $.post(url, function (data)
            {
                var datamininglistId = data[0].datamininglistId;
                var userId = data[0].userId;
            }).fail(function () {
                alert('ERROR');
            });#}
        }
        // load new video : event
        function get_dataminingListVideo()
        {
    {#        var form = $('#get-dataminingListVideo-ajax');
            var url = form.attr('action');

            $.post(url, function (data)
            {
                var datamininglistvideoId = data[0].datamininglistvideoId;
                var videoId = data[0].videoId;
                var datamininglistId = data[0].datamininglistId;
            
                    $("#dataminingContent-listBundle").append(
                        "<br> ID: "+
                        datamininglistvideoId+
                        "<br> VIDEO: "+
                        videoId+
                        "<br> LIST: "+
                        datamininglistId
                    );
            }).fail(function () {
                alert('ERROR');
            });#}
        }

</script>

<script>
    window.onload = prepareDataminingBundle();

    function prepareDataminingBundle()
    {
        var form = $('#check-session-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            var sessionStatus = data[0].sessionStatus;

            if (sessionStatus === "0")
            {
                var dataminingBundle = document.getElementById('dataminingBundle');
                dataminingBundle.innerHTML = "dataminingBundle... logout mode";
            } else
            {
                var dataminingBundle = document.getElementById('dataminingBundle');
                dataminingBundle.innerHTML = "dataminingBundle... login mode";
            }
        }).fail(function () {
            alert('ERROR');
        });
    }
</script>